*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#F4F7FB;
  color:#222;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
  font-family:inherit;
}

input{
  font-family:inherit;
}
.page-center {
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:15px;
}

.page-center h1{
  color:#2d6a4f;
}

.page-center a{
  color:#2d6a4f;
  font-weight:bold;
}